@font-face {
    font-family: 'Bellota-LightItalic';
    src: url(../fonts/Bellota-LightItalic.otf);
}
@font-face {
    font-family: 'Bellota-BoldItalic';
    src: url(../fonts/Bellota-BoldItalic.otf);
}

body {
    line-height: 17px;
    background-color: #E6EAE8;
}

a {
    color: #20AAE5;
    text-decoration: none;
}

.top_bar {
    width: 100%;
    min-width: 1050px;
    height: 40px;
    background-color: #20aae5;
    border-bottom: .25em solid #1894ca;
    margin: 0 0 10px 0;
    display: inline-flex;
    position: fixed;
    z-index: 10;
}

.logo a {
    font-family: 'Bellota-BoldItalic', sans-serif;
    margin-left: 10px;
    font-size: 1.5rem;
    position: relative;
    top: 9px;
    text-shadow: #73B6E2 .5px .5px 2px;
    color: #1086BA;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

nav {
    float: right;
    right: 5px;
    position: absolute;
    margin: 10px;
}

nav a {
    position: relative;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    border-bottom: 5px solid #e67e22;
    color: #fff;
}

.wrapper {
    margin: 0 auto;
    top: 50px;
    position: relative;
    padding: 0 10px;
    width: 75%;
    min-width: 950px;
}

.column {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #D3D3D3;
    z-index: -1;
}

.user_details {
    width: 250px;
    float: left;
    margin-bottom: 20px;
}

.user_details_left_right {
    width: 125px;
    display: inline-block;
    position: absolute;
}

.user_details img {
    height: 125px;
    border-radius: 5px;
    margin-right: 5px;
}
.main_column {
    float: right;
    width: 70%;
    z-index: -1;
    min-height: 160px;
}

.post_form {
    width: 100%;
}

.post_form textarea {
    padding: 5px;
    width: 83%;
    height: 60px;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid #D3D3D3;
    font-size: 12px;
}

textarea:focus {
    outline: none;
}

.post_form input[type="submit"] {
    width: 11%;
    height: 60px;
    border: none;
    border-radius: 7px;
    font-family: 'Bellota-BoldItalic', sans-serif;
    background-color: #3498db;
    color: #fff;
    text-shadow: #73B6E2 .5px .5px 2px;
    font-size: 90%;
    position: absolute;
    margin: 0;
    outline: 0;

}

.post_form input[type="submit"]:active {
    padding: 5px 4px 4px 5px;
    color:#eee;
} 

.status_post {
    width: 96%;
    font-size:  15px;
    padding: 0px 5px;
    min-height: 75px;
    cursor: pointer;
}
.post_profile_pic {
    float: left;
    margin-right: 6px;
}

.post_profile_pic img {
    border-radius: 50%;
}

#comment_iframe {
    width: 100%;
    max-height: 250px;
    margin-top: 6px;
}

.comment_section {
    padding: 0px 5px 5px 5px;
}

.comment_section img {
    margin: 0 3px 3px 3px;
    border-radius: 3px;
}

#comment_form textarea {
    border-color: #D3D3D3;
    width: 85%;
    height: 35px;
    border-radius: 5px;
    color: #616060;
    font-size: 14px;
    margin: 3px 3px 3px 5px;
}

#comment_form input[type="submit"] {
    border:none;
    background-color: #20AAE5;
    width: 13%;
    height: 35px;
    /* float:right; */
    position: absolute;
    border-radius: 5px;
    color: #fdf;
    font-family: 'Bellota-BoldItalic', sans-serif;
    text-shadow: #73B6E2 .5px .5px 2px;
    margin: 3px 3px 3px 5px;
    cursor:pointer;
}

.newsfeedPostOptions {
    padding: 0;
    text-decoration: none;
    color: #20AAE5;
    border:none;
}

.newsfeedPostOptions iframe {
    border: 0px;
    height: 18px;
    width: 120px;
}

.comment_like {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #3498db;
    padding: 0;
    margin: 0;
    height: auto;
    width: auto;
}

.like_value {
    display: inline;
    font-size: 14px;
}

/* Search form */
.search {
    margin: 8px 0 0 15%;
}

.search #search_text_input {
    border: thin solid #E5E5E5;
    float: left;
    height: 23px;
    outline: 0;
    width: 200px;
    border-radius: 3px 0px 0px 3px;
}

.button_holder {
    background-color: #F1F1F1;
    border: thin solid #e5e5e5;
    cursor: pointer;
    float:left;
    height: 23px;
    text-align: center;
    width: 50px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.button_holder img {
    margin-top: 1px;
    width: 20px;
}

.search_results {
    background-color: #fff;
    border: 1px solid #DADADA;
    border-bottom: none;
    border-top: none;
    margin-top: 25px;
}